backend/n8n_outbound_email_workflow.json
{
  "name": "Kuden IA - Outbound Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kuden-outbound-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Recibe de Kuden)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "generar-nuevo-id-aqui"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const attachments = item.json.attachments || [];\n  let binaryProperties = [];\n  \n  for (let i = 0; i < attachments.length; i++) {\n    const att = attachments[i];\n    if (att.url) {\n      try {\n        const response = await this.helpers.request({\n          url: att.url,\n          method: 'GET',\n          encoding: null,\n          resolveWithFullResponse: true\n        });\n        \n        const propName = `attachment_${i}`;\n        binaryProperties.push(propName);\n        \n        if (!item.binary) item.binary = {};\n        \n        item.binary[propName] = {\n          data: response.body.toString('base64'),\n          mimeType: att.type || 'application/octet-stream',\n          fileName: att.name || `file_${i}`\n        };\n      } catch (err) {\n        console.log('Error descargando adjunto:', err.message);\n      }\n    }\n  }\n  item.json.binaryAttachmentsList = binaryProperties.join(',');\n}\n\nreturn items;"
      },
      "id": "code_descargar_adjuntos",
      "name": "Descargar Adjuntos a Binario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.content }}",
        "toEmail": "={{ $json.to }}",
        "appendAttribution": false,
        "attachments": "={{ $json.binaryAttachmentsList }}",
        "options": {
          "customHeaders": {
            "customHeaderValues": [
              {
                "name": "In-Reply-To",
                "value": "={{ $json.messageId }}"
              },
              {
                "name": "References",
                "value": "={{ $json.messageId }}"
              }
            ]
          }
        }
      },
      "id": "2",
      "name": "Responder Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Recibe de Kuden)": {
      "main": [
        [
          {
            "node": "Descargar Adjuntos a Binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Adjuntos a Binario": {
      "main": [
        [
          {
            "node": "Responder Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
