backend/n8n_inbound_email_workflow.json
{
  "name": "Kuden IA - Inbound Email (Con Adjuntos)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "markAsRead": true,
          "downloadAttachments": true
        }
      },
      "id": "1",
      "name": "Leer Correos (Gmail/IMAP)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  item.json = {\n    tenantId: \"REEMPLAZAR_CON_UUID_DEL_TENANT\",\n    senderEmail: item.json.from.value[0].address,\n    senderName: item.json.from.value[0].name,\n    subject: item.json.subject,\n    textBody: item.json.text,\n    messageId: item.json.messageId,\n    receiverEmail: item.json.to.value[0].address,\n    attachments: []\n  };\n\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      const binaryData = item.binary[key];\n      item.json.attachments.push({\n        name: binaryData.fileName,\n        mimeType: binaryData.mimeType,\n        data: binaryData.data\n      });\n    }\n  }\n}\n\nreturn items;"
      },
      "id": "2",
      "name": "Mapear Payload y Adjuntos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.kuden.cl/api/webhook/n8n-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "3",
      "name": "Enviar a Webhook Kuden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Leer Correos (Gmail/IMAP)": {
      "main": [
        [
          {
            "node": "Mapear Payload y Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Payload y Adjuntos": {
      "main": [
        [
          {
            "node": "Enviar a Webhook Kuden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
